@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Dancing Script', cursive;
  background-color: #377771;
}

.container {
  max-width: 500px;
  min-height: 350px;
  margin: 30px auto;
  padding: 30px;
  overflow: auto;
  border-radius: 5px;
  background-color: #4CE0B3;
  box-shadow: 0 30px 60px 0 rgba(76, 224, 179, 0.5);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  margin: 5px;
  padding: 10px 20px;
  display: inline-block;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}